if prod
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
  //- script(src="https://s.videos.globo.com/p2/j/api.min.js", type="text/javascript")
  //- script(src="https://d3js.org/d3.v4.min.js", type="text/javascript")
  script(src=url+"js/bundle.js", type="text/javascript")
else
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", type="text/javascript")
  //- script(src="https://d3js.org/d3.v4.min.js", type="text/javascript")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
  //- script(src="https://s.videos.globo.com/p2/j/api.min.js", type="text/javascript")
  script(src="./js/bundle.js", type="text/javascript")


