meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(property="og:image", content="http://infograficos-estaticos.s3.amazonaws.com/base-2018/img/fb.jpg")
meta(property="og:image:secure_url", content="https://infograficos-estaticos.s3.amazonaws.com/base-2018/img/fb.jpg")
meta(property="og:image:type", content="image/jpeg")
meta(property="og:image:width", content="600")
meta(property="og:image:height", content="315")
meta(property="og:image:alt", content="base-2018")
meta(property="og:description", content="")
meta(property="fb:app_id", content="275998675912771")
  
if prod
  link(href=url+"css/main.css", rel="stylesheet", type="text/css")
  //- link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css", rel="stylesheet", type="text/css")
else
  link(href="./css/main.css", rel="stylesheet", type="text/css")
  link(href="https://infograficos-assets.s3.amazonaws.com/master_app/css/fonts.css", rel="stylesheet", type="text/css")
  //-link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css", rel="stylesheet", type="text/css")
