#infoarte
  #tudo
    section.perguntas
      .contador 1 de 15
      .centro
        ul.case-perguntas
          li.pergunta
            p.texto
              | A posse de armas deve continuar proibida, pois representa ameaça à vida de outras pessoas
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | Boa parte da pobreza está ligada à falta de iniciativa de pessoas que não querem trabalhar
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto A maior causa da criminalidade é a falta de oportunidades iguais para todos
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | A pena de morte é a melhor punição para indivíduos que cometem crimes bárbaros como homicídios
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | O uso da maconha não deve ser proibido, porque é o usuário que sofre com as consequências
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto A homossexualidade deve ser desencorajada por toda a sociedade
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto Relações trabalhistas devem ser tratadas apenas entre patrões e empregados
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | Quanto menos o governo interferir na competição entre as empresas, melhor para todos
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | No Brasil atual, quanto mais benefícios do governo um cidadão tiver, melhor estará a sua vida
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto Jovens de 16 a 17 anos que cometem crimes devem ser punidos como adultos
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto Homens têm características que se adequam melhor a diversas profissões
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto O racismo contra a população negra é um problema grave no Brasil
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | Redução de gastos com programas sociais pode ajudar o governo a impulsionar a economia
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | A mulher deve ter o direito de realizar aborto em qualquer circunstância e não apenas em caso de estupro
            .botoes
              button.botao-pergunta(data-numero='1')
                | DISCORDO
                br
                span TOTALMENTE
              button.botao-pergunta(data-numero='2')
                | DISCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='3')
                | NEM 
                span CONCORDO
                br
                | NEM 
                span DISCORDO
              button.botao-pergunta(data-numero='4')
                | CONCORDO
                br
                span PARCIALMENTE
              button.botao-pergunta(data-numero='5')
                | CONCORDO
                br
                span TOTALMENTE
          li.pergunta
            p.texto
              | Como sabemos, muita gente quando pensa em política utiliza os termos esquerda e direita. Em qual posição política você se colocaria?
            .botoes
              button.botao-pergunta(data-numero='1') ESQUERDA
              button.botao-pergunta(data-numero='2') CENTRO-ESQUERDA
              button.botao-pergunta(data-numero='3') CENTRO
              button.botao-pergunta(data-numero='4') CENTRO-DIREITA
              button.botao-pergunta(data-numero='5') DIREITA
        button.voltar.desativado Voltar
    section.resultado
      .contador-res Resultado
