@charset "UTF-8";

#infoarte {
  /* HTML5 display-role reset for older browsers */
  div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: '';
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: '';
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

html, body, * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*TELA FULL*/

body {
  article {
    max-width: 100% !important;
  }
  #sticker, #menu-editoria {
    z-index: 100000000000000000000000000000;
  }
  .head-materia {
    height: 0;
    overflow: hidden;
  }
  #all_banner {
    height: 0 !important;
    overflow: hidden  !important;
    padding: 0  !important;
    border: none  !important;
    background: none  !important;
    margin: 0  !important;
  }
  article {
    + .row, .row:nth-child(1) {
      display: none;
    }
  }
}

/*COLOCA A BARRA DO GLOGO POR CIMA*/

/*TIRA O TÍTULO E SUBTÍTULO DA PÁGINA*/

/*Tira publicidade*/

#infoarte {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  #tudo {
    width: 100%;
    margin: 0 auto;
    .slick-slide {
      outline: none;
    }
    .texto-dividido {
      width: 820px;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 0 15px;
      margin-top: 70px;
      .titulo-texto {
        text-transform: uppercase;
        color: #297aa8;
        font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
        font-size: 23px;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
      }
      .titulo-abertura {
        width: 100%;
        font-size: 35px;
        font-family: OgloboCondensedLight, "Times New Roman", times, serif;
        color: #213658;
        text-transform: uppercase;
        text-align: center;
        margin: 90px auto 40px auto;
        span {
          font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
        }
      }
      .case-colunas {
        overflow: auto;
        width: 100%;
        box-sizing: border-box;
        .esq, .dir {
          float: left;
          font-size: 14px;
          font-family: Georgia, "Times New Roman", times, serif;
          line-height: 25px;
          color: #5f5e5e;
          text-align: left;
          width: 50%;
          box-sizing: border-box;
        }
        .esq {
          padding-right: 20px;
        }
        .dir {
          padding-left: 20px;
        }
      }
      .case-imgs {
        margin-top: 50px;
        overflow: auto;
        width: 100%;
        box-sizing: border-box;
        .esq-img, .dir-img {
          float: left;
          font-size: 14px;
          font-family: Georgia, "Times New Roman", times, serif;
          line-height: 25px;
          color: #5f5e5e;
          text-align: left;
          width: 50%;
          box-sizing: border-box;
        }
        .esq-img img, .dir-img img {
          width: 100%;
        }
        .esq-img {
          padding-right: 20px;
        }
        .dir-img {
          padding-left: 20px;
        }
      }
    }
    .topo {
      position: relative;
      h1 {
        display: none;
      }
      .bg-header {
        width: 100%;
        z-index: 10;
      }
      .case-img-titulo {
        position: absolute;
        width: 30%;
        left: 35%;
        top: 17.90541%;
        z-index: 50;
        .img-titulo {
          width: 100%;
        }
      }
      .mascara {
        position: absolute;
        width: 100%;
        z-index: 10;
        top: 0;
        opacity: 0.7;
      }
      .imgs {
        position: absolute;
        top: -5.5px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        div {
          width: 10%;
          width: 10%;
          position: absolute;
          float: left;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-direction: infinite;
          animation-direction: infinite;
          -webkit-animation: fade 7s infinite;
          animation: fade 7s infinite;
          &:nth-child(2) {
            left: -3%;
            width: 36%;
          }
          &:nth-child(3) {
            width: 28%;
            left: 20%;
          }
          &:nth-child(4) {
            width: 25%;
            right: 36%;
          }
          &:nth-child(5) {
            width: 30%;
            right: 12%;
          }
          &:nth-child(6) {
            width: 30%;
            right: -4%;
          }
          &.img1 {
            -webkit-animation-delay: 9s;
            animation-delay: 9s;
          }
          &.img3 {
            -webkit-animation-delay: 3s;
            animation-delay: 3s;
          }
          &.img5 {
            -webkit-animation-delay: 6s;
            animation-delay: 6s;
          }
          &.img2 {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
          }
          &.img6 {
            -webkit-animation-delay: 12s;
            animation-delay: 12s;
          }
          &.img4 {
            -webkit-animation-delay: 15s;
            animation-delay: 15s;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .abertura {
      max-width: 680px;
      margin: 0 auto;
      box-sizing: border-box;
      overflow: auto;
      padding: 0 10px;
      .assinatura {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 40px 0;
        p {
          margin-right: 30px;
          border-right: 1px solid #d1d1d1;
          font-family: Arial;
          color: #5f5e5e;
          padding: 20px 30px 20px 0;
          font-size: 13px;
          span {
            font-weight: bold;
          }
        }
      }
      h2.sub {
        font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
        font-size: 20px;
        color: #5f5e5e;
        text-align: center;
        line-height: 32px;
        span {
          font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
        }
      }
    }
    .perguntas {
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      padding: 60px 10px;
      border: 1px solid #d1d1d1;
      box-sizing: border-box;
      margin-top: 105px;
      position: relative;
      background: url("../images/bg-teste.jpg") center bottom no-repeat #f4f5f7;
      .contador {
        font-family: OgloboCondensedMedium, "Times New Roman", times, serif;
        font-size: 19px;
        background: #213658;
        padding: 5px 10px;
        color: white;
        display: inline-block;
        border-radius: 10px;
        position: absolute;
        top: -16px;
        left: -webkit-calc(50% - 12px);
        left: calc(50% - 12px);
        text-transform: uppercase;
      }
      .centro {
        width: 820px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
      }
      .voltar {
        font-size: 22px;
        font-family: OgloboCondensedMedium, "Times New Roman", times, serif;
        color: #213658;
        text-transform: uppercase;
        border: 1px solid #213658;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        margin-top: 10px;
        margin-bottom: 140px;
        margin-left: 15px;
        background: white;
        &:not(.desativado):hover {
          background: #213658;
          color: white;
        }
        &.desativado {
          cursor: default;
          color: #d1d1d1;
          border-color: #d1d1d1;
        }
      }
      .case-perguntas {
        overflow: auto;
        -webkit-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        li {
          display: inline-block;
        }
        .pergunta .texto {
          font-family: Georgia, "Times New Roman", times, serif;
          font-size: 23px;
          color: black;
          line-height: 35px;
          text-align: center;
          min-height: 135px;
        }
        .botoes {
          box-sizing: border-box;
          padding-bottom: 10px;
          .botao-pergunta {
            min-height: 70px;
            width: -webkit-calc(20% - 30px);
            width: calc(20% - 30px);
            margin-left: 30px;
            font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
            font-size: 20px;
            color: white;
            border-radius: 10px;
            padding: 10px 5px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$azul-claro-1+3$azul-claro-1+50$azul-claro-2+50$azul-claro-2+95 */
            background: #213658;
            /* Old browsers */
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
            line-height: 20px;
            vertical-align: middle;
            outline: 0;
            &.escolhido {
              -webkit-animation: cresceBotao 0.5s infinite;
              animation: cresceBotao 0.5s infinite;
            }
            &:nth-child(2), &:nth-child(4) {
              background: #1e6b97;
            }
            &:nth-child(3) {
              background: #358ec0;
            }
            &:first-child {
              margin-left: 15px;
            }
            span {
              font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
            }
            &:hover {
              -webkit-transform: scale(1.1, 1.1);
              -ms-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
            }
          }
        }
      }
    }
    .resultado {
      display: none;
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      padding: 60px 10px;
      border: 1px solid #d1d1d1;
      box-sizing: border-box;
      margin-top: 105px;
      position: relative;
      background: #f5f6f7;
      .contador-res {
        font-family: OgloboCondensedMedium, "Times New Roman", times, serif;
        font-size: 19px;
        background: #213658;
        padding: 5px 10px;
        color: white;
        display: inline-block;
        border-radius: 10px;
        position: absolute;
        top: -16px;
        left: -webkit-calc(50% - 55px);
        left: calc(50% - 55px);
        text-transform: uppercase;
      }
      .case-resultado {
        width: 820px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
        overflow: auto;
      }
      .imagens-partidos {
        margin-bottom: 35px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        .box-partidos {
          width: 50%;
          box-sizing: border-box;
          .leg {
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
            margin-bottom: 30px;
            span {
              font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
            }
          }
          .bloco {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            padding-right: 2%;
          }
          .partido {
            box-sizing: border-box;
            width: 38.29268%;
            border-radius: 10px;
            border: 1px solid #d1d1d1;
            padding: 20px 13px;
            text-align: center;
            font-size: 25px;
            background: white;
            font-family: OgloboCondensedMedium, "Times New Roman", times, serif;
            img {
              width: 100%;
            }
            span {
              font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
              color: #5b8dbd;
            }
          }
        }
      }
      ul {
        width: 50%;
        float: left;
        box-sizing: border-box;
        &.dir {
          float: right;
        }
        li {
          width: 100%;
          position: relative;
          margin-bottom: 20px;
          div {
            display: inline-block;
            color: #5f5e5e;
            font-size: 18px;
            font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
            vertical-align: middle;
          }
          .partido {
            font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
            width: 12.3%;
          }
          .posicao {
            width: 25%;
          }
          .porcentagem {
            width: 15.2%;
            color: #358ec0;
            font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
            font-size: 19px;
            text-align: right;
          }
          .barras {
            width: 42%;
            height: 10px;
            background: #dedfe0;
            margin-left: 2%;
            position: relative;
            top: 2px;
            .barra {
              width: 50%;
              height: 100%;
              background: #5b8dbd;
              position: absolute;
              top: 0;
            }
          }
        }
      }
      .grafico-resultado {
        overflow: auto;
      }
      .obs {
        width: 100%;
        font-size: 16px;
        font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
        color: #5f5e5e;
        text-align: left;
      }
      .btn-novamente {
        width: 100%;
        text-align: center;
        margin-top: 50px;
      }
      .novamente {
        background: #5b8dbd;
        border-radius: 5px;
        min-width: 250px;
        padding: 20px 0;
        font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
        font-size: 22px;
        text-transform: uppercase;
        color: white;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border: 1px solid #5b8dbd;
        cursor: pointer;
        outline: 0;
        &:hover {
          -webkit-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          background: white;
          color: #5b8dbd;
        }
      }
      .compartilhe {
        width: 210px;
        margin: 50px auto 0 auto;
        p {
          font-family: OgloboCondensedMedium, "Times New Roman", times, serif;
          font-size: 17px;
          text-align: center;
          text-transform: uppercase;
        }
        .rede-social {
          margin-top: 30px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 5px 0;
          div {
            outline: 0;
            cursor: pointer;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            &:hover {
              -webkit-transform: scale(1.1, 1.1);
              -ms-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
            }
          }
        }
      }
    }
    .analise {
      padding-top: 75px;
      padding-top: 0px;
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      .grafico {
        width: 820px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
        margin-top: 50px;
        &.centro {
          padding: 0 50px;
        }
        img {
          width: 100%;
        }
      }
      .detalhe {
        width: 820px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
        font-size: 14px;
        font-family: Georgia, "Times New Roman", times, serif;
        line-height: 25px;
        color: #5f5e5e;
        text-align: left;
        margin-top: 50px;
      }
      .especialista {
        padding: 0px 15px;
        background: #ecf0f4;
        border: 1px solid #d1d1d1;
        box-sizing: border-box;
        margin-top: 80px;
        position: relative;
        .legenda {
          font-family: OgloboCondensedMedium, "Times New Roman", times, serif;
          font-size: 19px;
          background: #213658;
          padding: 5px 10px;
          color: white;
          display: inline-block;
          border-radius: 10px;
          position: absolute;
          top: -16px;
          left: -webkit-calc(50% - 37px);
          left: calc(50% - 37px);
          text-transform: uppercase;
        }
        .case-info {
          width: 820px;
          margin: 0 auto;
          box-sizing: border-box;
          padding: 0 15px;
          padding: 40px 50px;
          position: relative;
          overflow: auto;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
        }
        .esq {
          width: 60.24096%;
          float: left;
          p.citacao {
            font-family: Georgia, "Times New Roman", times, serif;
            font-size: 21px;
            line-height: 28px;
          }
          .nome {
            font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 20px;
            span {
              font-family: OgloboCondensedSemibold, "Times New Roman", times, serif;
            }
          }
          .ler-artigo {
            border-radius: 10px;
            border: 1px solid #297aa8;
            color: #297aa8;
            text-transform: uppercase;
            padding: 10px;
            font-family: OgloboCondensedMedium, "Times New Roman", times, serif;
            font-size: 19px;
            cursor: pointer;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            background: #ecf0f4;
            outline: 0;
            &:hover {
              background: #297aa8;
              color: white;
              .icone svg path {
                fill: white;
              }
            }
            &.aberto {
              background: #297aa8;
              color: #ecf0f4;
              .icone {
                margin-right: 3px;
                svg {
                  -webkit-transform: rotate(0deg) scale(1.6, 1.6);
                  -ms-transform: rotate(0deg) scale(1.6, 1.6);
                  transform: rotate(0deg) scale(1.6, 1.6);
                  position: relative;
                  top: 7px;
                  path {
                    -webkit-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                    fill: white;
                  }
                }
              }
            }
            .icone {
              margin-right: 3px;
              svg {
                -webkit-transform: rotate(180deg) scale(1.6, 1.6);
                -ms-transform: rotate(180deg) scale(1.6, 1.6);
                transform: rotate(180deg) scale(1.6, 1.6);
                position: relative;
                top: -3px;
                path {
                  -webkit-transition: all 0.5s ease-in-out;
                  transition: all 0.5s ease-in-out;
                  fill: #297aa8;
                }
              }
            }
          }
        }
        .dir {
          width: 39.02439%;
          float: left;
          img {
            width: 100%;
          }
        }
      }
      .texto-especialista {
        width: 820px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
        margin-top: 70px;
        display: none;
        margin-bottom: 100px;
        p {
          font-family: Georgia, "Times New Roman", times, serif;
          font-size: 15px;
          color: #5f5e5e;
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 40px;
          &:first-child:first-letter {
            text-transform: uppercase;
            color: #213658;
            font-size: 95px;
            float: left;
            margin: 10px 10px 0px 0;
          }
        }
      }
    }
    .notas {
      padding: 50px 0;
      margin-top: 100px;
      border-top: 1px solid #d1d1d1;
      .case-notas {
        width: 820px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
        font-size: 16px;
        font-family: OgloboCondensedRegular, "Times New Roman", times, serif;
        color: #5f5e5e;
        text-align: left;
        h4 {
          font-size: 18px;
          margin-bottom: 30px;
        }
        li {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  #infoarte #tudo .texto-dividido {
    width: 100%;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 820px) {
  #infoarte #tudo .perguntas .centro {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  #infoarte #tudo .perguntas .case-perguntas .botoes .botao-pergunta {
    font-size: 15px;
    line-height: 15px;
  }
}

@-webkit-keyframes cresceBotao {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}


@keyframes cresceBotao {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}


@media screen and (max-width: 820px) {
  #infoarte #tudo .resultado .case-resultado {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  #infoarte #tudo .analise .grafico {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  #infoarte #tudo .analise .detalhe {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  #infoarte #tudo .analise .especialista .case-info {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  #infoarte #tudo .analise .texto-especialista {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  #infoarte #tudo .notas .case-notas {
    width: 100%;
  }
}

/*
  @media screen and(max-width: 1024px){
*/