.leia-mais-section
  h3 VEJA MAIS:
  .leia-mais-box
    .leia-mais-item
      a(href="https://infograficos.oglobo.globo.com/esportes/copa-cabelo-e-bigode.html", target="_BLANK")
        img(src=url+"img/thumbs-leia-mais/thumb-cabelo-bigode.jpg", alt="Copa, Cabelo e Bigode")
        span Copa, Cabelo e Bigode

    .leia-mais-item
      a(href="https://infograficos.oglobo.globo.com/esportes/planeta-copa.html", target="_BLANK")
        img(src=url+"img/thumbs-leia-mais/thumb-planeta-copa.jpg", alt="Planeta Copa")
        span Planeta Copa

    .leia-mais-item
      a(href="https://infograficos.oglobo.globo.com/esportes/neymar-redes-sociais.html", target="_BLANK")
        img(src=url+"img/thumbs-leia-mais/thumb-neymar-rede.jpg", alt="A rede de Neymar")
        span A rede de Neymar
